version: '3.1'

services:
  mongo:
    image: mongo
    restart: always
    hostname: mongo
    container_name: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secret
      MONGO_INITDB_DATABASE: registry
    volumes:
      - ./data:/docker-entrypoint-initdb.d/
    networks:
      - registry

  mongo-express:
    image: mongo-express
    restart: always
    hostname: mongoexpress
    container_name: mongoexpress
    ports:
      - 8081:8081
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: secret
    networks:
      - registry

  registry:
    image: registry:latest
    command: uvicorn registry.api:app --host 0.0.0.0
    hostname: registry
    container_name: registry
    depends_on:
      - mongo
    environment:
      MONGO_USER: registry_user
      MONGO_PASSWORD: registry_secret
      MONGO_DATABASE: registry
      MONGO_HOST: mongo
      MONGO_PORT: 27017
    ports:
      - 8000:8000
    networks:
      - registry

networks:
  registry: {}
